<% layout('layouts/boilerplate.ejs') %>
    <h1>Edit - <%= foundCottage.title  %></h1>
    <form method="POST" action="/cottages/<%= foundCottage.id %>?_method=PUT" enctype="application/x-www-form-urlencoded" >
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="cottage[title]" value="<%= foundCottage.title %>">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="cottage[location]" value="<%= foundCottage.location %>">
        </div>
        <button type="submit">Save Changes</button>
        </form>
        <a href="/cottages/<%= foundCottage.id %>">Discard</a>
