<% layout('layouts/boilerplate.ejs') %>
    <h1><%= foundCottage.title  %></h1>
    <h2><%= foundCottage.location  %></h2>
    <img src="<%= foundCottage.image %>" alt="">
    <p><%= foundCottage.description  %></p>
    <h3><%= foundCottage.price %></h3>
    <a href="/cottages/<%= foundCottage.id %>/edit"><h4>Edit</h4></a>
    <form action="/cottages/<%= foundCottage.id %>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
    <a href="/cottages"><h4>Back to Home</h4></a>
