<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= foundCottage.title  %></title>
</head>
<body>
    <h1><%= foundCottage.title  %></h1>
    <h2><%= foundCottage.location  %></h2>
    <a href="/cottages/<%= foundCottage.id %>/edit"><h4>Edit</h4></a>
    <form action="/cottages/<%= foundCottage.id %>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
    <a href="/cottages"><h4>Back to Home</h4></a>
</body>
</html>