<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= foundProduct.name %></title>
</head>
<body>
    <h1><%= foundProduct.name %> </h1>
    
    <ul>
        <li> Price: <%= foundProduct.price %></li>
        <li> Category: <%= foundProduct.category %></li>
    </ul>

    <a href="/products">Back to all products</a>
    <a href="/products/<%= foundProduct.id %>/edit">Edit Product</a>
    
</body>
</html>